* {
    margin: 0px;
    padding: 0px;
}
body, html, main{
    width: 100%;
}
/*CABECERA*/
header{
    min-height:200px; 
    margin-top: 50px;
 }


.logo {
display: inline;

}
.logo img {
    width: 15%;
    margin-left: 50px;
    min-width: 300px;
    animation-duration: 3s;
    animation-name: logo_move;
}
nav {
    right: 0px;
    top: 0px;
    padding: 10px 0;
    border-bottom: 2px solid black;
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: ivory;
    max-height: 40px;
} 
nav ul{
list-style: none;
font-size: 1em;
display: flex;
float: right;
}
nav ul li{
margin: 0 20px;
}
nav ul li a{
color: black;
text-decoration: none;
transition: all .5s;
}
nav ul li a:hover{
    color: blue;
    text-decoration: underline;
}
.btn{
    display: none;
}


/* PIE DE PAGINA*/
footer {
    max-height: 90px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: white;
    font-size: 1em;
}

body {    
    font-family: "Atma";
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*
#main-container{
width: 95%;
height: 300px;
display: flex;
align-items: center;
justify-content: center ;
flex-direction: row;
flex-wrap: wrap;
margin-left: 40px;
}

.bg-1{background-image: url(../images/1.gif);  }
.bg-2{background-image: url(../images/2.jpg);}
.bg-3{background-image: url(../images/3.png); }
.bg-4{background-image: url(../images/4.png);}
.bg-5{background-image: url(../images/5.jpg);}

 .bg{ background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }   

.image{
    display: table;
    width: 280px;
    height: 240px;
    margin: auto;
    transition: all 0.5s;
}

.image a{
display: none;
vertical-align: middle;
font-size: 35px;
color: white;
font-family: sans-serif;
text-align: center;
height: 50px;
cursor: pointer;
}

.foto-container{
flex-grow: 1;
flex-shrink: 0;
flex-basis: 352px;
margin-bottom: 40px;
overflow: hidden;
}

.box{
transition: 0.3s;
border-radius: 5px;
background-color: rgba(128, 0, 128, 0.75);
height: 240px;
width: 300px;
padding: 10px 0;
overflow: hidden;
}

.box:hover .image{
transform: scale(1.2);

} */

/* Sobre mi */



#sobremi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.contenedor-sobre-mi{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}
.imagen-sobre-mi{
    flex: 1;
    text-align: center;
}
.imagen-sobre-mi img{
    width: 400px;
    
}

.titulo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 30px 15px;
    font-size: 3em;
}
.contenido-texto{
    padding: 30px 30px ;
    text-align: justify;
    font-size: 1.5em;
    font-weight: 300;
    flex: 1;
}

 /* portfolio*/ 

.contenedor{
    padding: 80px 0px;
    width: 95%;
    /*max-width: 1000px;*/
    margin: auto;
    overflow: hidden;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 400px;
    height: 350px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    cursor: pointer;
}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
   transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 400;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: white;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

/* skills*/ 

#skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
#skills img{
    width: 600px;
}

/* CONTACTO*/ 

.form-body {
  display: flex;
  flex-direction: column;
  background-color: rgb(234,219,203, 0.75);
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
}

.form-subtitle {
  color:grey;
}

.form-body div {
  text-align: center;
  margin-top: 40px;
}

.form-body div:last-child{
  margin-bottom: 10px;
}
.comemnt textarea{
  width: 500px;
  height: 200px;
}

.btn2 {
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  
  margin-bottom: 100px;
}

.btn2:hover {
  background-color: black;
  color: white;
}




@media (max-width:750px){
    header{
        margin: 0px;
    }
    .logo img {
        width: 50%;
        margin-left: 30%;
        min-width: 0px;
    }
    .btn{
        padding: 10px 5px ;
        text-align: center;
        cursor: pointer;
        background-color: khaki;
        width: 50px;
        border-radius: 5px;
        border: solid 1px black;
        display: block;
    }
    
    nav ul:hover{
        display: flex;
        flex-direction: column;
        background-color: khaki;
        width: 30%;
    }
    
    .btn:hover + ul{
        display: flex;
        flex-direction: column;
        background-color: khaki;
        width: 30%;
    }
    nav ul:hover li{
        margin-top: 20px;
    }
    
    
    nav ul:hover li:last-child{
        margin-bottom: 20px;
    }
    
    .btn:hover + ul li{
        margin-top: 20px;
    }
    .btn:hover + ul li:last-child{
        margin-bottom: 20px;
    }
    
    nav {
        background-color: transparent;
        border-bottom: 0px;
        padding: 0 0;
        right: 0px;
        top: 0px;
        position: fixed;
        z-index: 999;
        width: 100%;
        max-height: 40px;
    } 
    nav ul{
        display: none;
    list-style: none;
    font-size: 1em;
    float: none;
    box-shadow: 0 4px 8px 0 rgba(0,0 ,0, 0.2);
    }
    nav ul li{
    margin: 0 20px;
    }
    nav ul li a{
    color: black;
    text-decoration: none;
    transition: all .5s;
    }
    nav ul li a:hover{
        color: blue;
        text-decoration: underline;
    }
    
.contenedor-sobre-mi{
    flex-direction: column;
}
#skills img{
    width: 100%;
}

.form-body {
    min-width: 200px;
    margin: auto 20px;
    
  }
  .comemnt textarea{
    width: 95%;
    height: 200px;
  }
}
    
/*@keyframes logo_move {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 50px;
      width: 16%;
      min-width: 300px;
    }
  }*/